.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-dropdown {


}

.dropdown-menu {
    left: -70px!important;

}

.find-opp {

}

.activity-feed {

}

.search-bar {
    margin-left: 2vw;
    margin-right: 2vw;

}

#bar {
    width: 40vw;
}